@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --netflix-red: #E50914;
  --netflix-black: #141414;
  --netflix-dark-gray: #181818;
}

body {
  @apply bg-[#141414] text-white;
  font-family: 'Netflix Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}